@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    background: radial-gradient(circle, #0d0d28 0%, #020211 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 5s infinite ease-in-out;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 10;
    padding-top: 50px;
}

.profile {
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-out;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5);
    border: 2px solid #4e44e7;
    transition: transform 0.3s, box-shadow 0.3s ease, border 0.3s;
}

.profile h1 {
    font-size: 1.3em;
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5);
    animation: textGlow 1s ease-out infinite alternate;
}

.links {
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-out;
}

.link-button {
    display: inline-block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    outline: 3px solid #4e44e7;
    outline-offset: 4px;
    box-shadow: 0 4px 20px rgba(78, 68, 231, 0.5);
    position: relative;
    overflow: hidden;
}

.link-button:hover {
    background: #6a63e8;
    transform: scale(1.05);
}

@keyframes rgbAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes textGlow {
    0% { text-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
    100% { text-shadow: 0 0 40px rgba(255, 255, 255, 1); }
}
